<div class="container">
    <h1> Account </h1>
</div>

<div class="text-center">
    <!-- Form Styling-->
    <img src="../img/tongue-emoji-svgrepo-com.svg" width="100" height="100" class="d-inline-block align-top"
    alt="">
    <h2 class="text-center">Current User</h2> <br>
    
    <h4> Username </h4> 
    <div class="text-center"> <%= currentUser.username %> </div><br>
    <h4> First Name </h4> 
    <div class="text-center"> <%= currentUser.firstName %> </div><br>
    <h4> Last Name </h4> 
    <div class="text-center"> <%= currentUser.lastName %> </div><br>
    <h4> Email </h4>
    <div class="text-center"> <%= currentUser.email %> </div><br>
    <h4> Date of Birth </h4> 
    <div class="text-center"> <%= currentUser.dateOfBirth %> </div><br>

    <a href="/">
        <span class="button">
            Back
        </span>
    </a>

</div>

<div class="container">
    <h1> Settings </h1>
  </div>
  
    <div class="card text-center homepage mx-auto border-light">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Privacy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
          </li>
        </ul>
      </div>
      <div class="card-body text-left">
        <h5 class="card-title">Account Settings</h5>
        <p class="card-text"> Login Preferences </p>
        <hr/>
        <p class="card-text"> <strong> Email </strong> </p>
        <p class="card-text"> yourname@url <a href="#" class="badge badge-secondary">Reset</a>  </p>
        <p class="card-text"> <strong> Password </strong> </p>
        <p class="card-text"> *************** <a href="#" class="badge badge-secondary">Reset</a> </p>
        <p class="card-text"> More Settings </p>
        <hr/> <br> <br>
        <p class="card-text"> Some More Settings </p>
        <hr/> <br> <br>
        <p class="card-text"> Even More Settings </p>
        <hr/> <br> <br>
      </div>
    </div>