
<div class="text-center">
    <!-- Form Styling-->
    <img src="/public/img/tongue-emoji-svgrepo-com.svg" width="100" height="100" class="d-inline-block align-top"
    alt="">
    <h2 class="text-center">Post data for <%= post.title %></h2> <br>
    
    <h4> Title </h4> 
    <div class="text-center"> <%= post.title %> </div><br>
    <h4> Photo </h4>
    <div class="text-center"> <%= post.img %> </div><br>
    <h4> Text </h4>
    <div class="text-center"> <%= post.description %> </div> <br>
    <h4> Hashtags </h4>
    <div class="text-center"> <%= post.hashtags %> </div> <br>

    <a href="/">
        <span class="button">
            Back
        </span>
    </a>

</div>


